body{
  padding-top: 50px;
}

#wrapper{
  max-width: 960px;
  background-color: #f0f0f0;
}

#currency_bar{
  max-width: 960px;
  background-color: #2196f3;
  color: #ffffff;

}
#currency_bar .navbar-brand{
  color: #ffffff;
}
#currency_bar ul{

}
#currency_bar li{
  float: right;
  display:inline-block;
}
#currency_bar li a{
  color: #ffffff;
}
#settings_icon{
  color: #ffffff;
}

#main_image img{
  width: 100%;
  border: 1px solid #f0f0f0;
  max-height: 430px;
}

.story-image{
  width:100%;
  height: auto;
}
.modal-dialog{
  margin: 50px auto;
}
.modal-content{
  color: #000000;
}
.modal-header{
  padding: 15px 15px 0px 15px;
}
.modal-body{
  padding: 0px;
}
