body{
  padding-top: 50px;
}

#wrapper{
  max-width: 960px;
  background-color: #f0f0f0;
}

#currency_bar{
  max-width: 960px;
  background-color: #2196f3;
  color: #ffffff;

}
#currency_bar .navbar-brand{
  color: #ffffff;
}
#currency_bar ul{

}
#currency_bar li{
  float: right;
  display:inline-block;
}
#currency_bar li a{
  color: #ffffff;
}
#settings_gear{
  color: #ffffff;
}

#main_image img{
  width: 100%;
  border: 1px solid #f0f0f0;
  max-height: 430px;
}

/*
#main_menu{
  background-color: #2196f3;
}
#main_menu li a{
  color: #ffffff;
}
#main_menu li a:hover{
  color: #2196f3;
  background-color: #ffffff;
}
*/
